@charset "utf-8";
/* CSS Document */
.head{
	width:980px;
	height:50px;
	margin:auto;
	padding-top:30px;
}
.head .left{width:210px; float:left;}
.head .right{width:210px; float:right; border:0px solid;}
#nav{
	width:100%;
	background:#a9110c;
	alignment-adjust:middle;
}
.nav{
	width:980px;
	height:40px;
	line-height:40px;
	margin:0 auto;
	text-align:center;
	font-size:16px;
	font-weight:545;
	color:#FFF;
}
.nav li{float:left;
    list-style:none;}
.nav a{
	color:#FFF;
	display:inline-block;
	padding:0 62px;	
	text-decoration:blink;
}
.nav a:hover{background:#f8d019;}
.nav .color_in{background:#f8d019;}

#content{
	width:980px;
	height:1000px;
	background:url(../images/背景6.jpg) center no-repeat;
	margin:0 auto;
	padding-top:0;
}
h3{
	width:444px;
	height:58px;
	font-size:26px;
	font-weight:700;
	color:#1b1b1b;
	line-height:60px;
	padding-top:20px;
	margin:0 120px;
}
.hr2{
	width:800px;
	border-top:2px solid #a9110c;
	margin:0 auto;
	border-bottom:none;
	border-left:none;
	border-right:none;
}
.content{
	weight:800px;
	height:850px;
	margin:20px 140px;
	font-size:20px;
}
.content a{color:#1b1b1b;}
.content a:hover{color:#03C;}
.contant a:active{color:#1b1b1b;}

#footer{
	clear:both;
	width:100%;
	height:80px;
	background:#a9110c;
	font-weight:500;
	color:#FFF;
	text-align:center;
	line-height:80px;
}
.tree{
	position:fixed;
	left:15px;
	top:150px;
}